/*Mobile 0 - 425px*/
.titulo__perfil {
  display: none;
}
.titulo__perfil-2 {
  width: 6.125rem;
  height: 6.125rem;
}


/*Tablet*/
@media screen and (min-width: 768px) {
  .titulo__perfil-2 {
    width: 9.125rem;
    height: 9.125rem;
    order: 1;
  }
  
  .titulo__perfil {
    display: none;
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .titulo__perfil {
    display: block;
    width: 21rem;
    height: 23rem;
    order: 1;
  }

  .titulo__perfil-2 {
    display: none;
  }
}