/*Mobile 0 - 425px*/
.hobbies__img img {
  width: 1.875rem;
  height: 1.688rem;
  justify-content: center; /* adicione essa linha */
  align-items: center; /* adicione essa linha */
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .hobbies__img img {
    width: 3.125rem;
    height: 2.938rem;
    justify-content: center; /* adicione essa linha */
    align-items: center; /* adicione essa linha */
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .hobbies__img img {
    width: 3.125rem;
    height: 2.938rem;
    justify-content: center; /* adicione essa linha */
    align-items: center; /* adicione essa linha */
  }
}
@media screen and (min-width: 1440px) {
  .hobbies__img img {
    width: 3.75rem;
    height: 3.563rem;
    justify-content: center; /* adicione essa linha */
    align-items: center; /* adicione essa linha */
  }
}