/*Mobile 0 - 425px*/
.sobre__paragrafo {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  text-indent: 1ch;
  line-height: 1.2;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .sobre__paragrafo {
    font-size: 1rem;
    text-indent: 2ch;
    line-height: 1.3;
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .sobre__paragrafo {
    font-size: 1.3rem;
    text-indent: 3ch;
    line-height: 1.4;
  }
}